---
layout: lightbox
title: Projects
---

<p class="subheading">Projects I have worked on.</p>

<h2>Open Source Projects</h2>

<div>

    <ul>
        <li><a href="http://github.com/grantmcconnaughey/django-avatar">django-avatar</a> — A Django app for handling user avatars.</li>
        <li><a href="https://github.com/grantmcconnaughey/django-field-history">django-field-history</a> — A Django app to track changes to a model field.</li>
        <li><a href="http://github.com/grantmcconnaughey/django-chartit2">django-chartit2</a> — A Django app to plot charts and pivot charts directly from the models.</li>
        <li><a href="http://github.com/grantmcconnaughey/django-lazy-tags">django-lazy-tags</a> — A Django app for easily loading template tags via AJAX.</li>
    </ul>

</div>

<h2 style="margin-bottom: 0;">Commercial Projects</h2>

<div style="margin-top: 0;">

    {% for project in site.data.projects %}
        <div class="project cf">
            <h3><a href="{{ project.headerlink }}">{{ project.header }}</a></h3>

            <div class="cf">
                <div class="project-image-container">
                    <a href="{{ project.mainimage }}" class="image-link" title="{{ project.mainimagealt }}">
                        <img src="{{ project.mainimagesmall }}" alt="{{ project.mainimagealt }}" />
                    </a>
                </div>

                <div class="project-description">
                    <p>{{ project.description }}</p>

                    {% if project.github %}
                    <p>
                        <ul class="project-links">
                            <li>
                                <a href="{{ project.github }}">
                                    <span class="icon"><i class="fa fa-github"></i></span>Github
                                </a>
                            </li>
                        </ul>
                    </p>
                    {% endif %}
                </div>
            </div>

            <div class="project-additional-images">
                {% for image in project.additionalimages %}
                    <a href="{{ image.full }}" class="image-link" title="{{ image.alt }}">
                        <img data-original="{{ image.thumbnail }}" alt="{{ image.alt }}" class="lazy" />
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

</div>
