---
layout: lightbox
title: Projects
summary: A collection of open source and other projects that I've worked on.
---

<h2 id="open-source">Open Source</h2>

<div>

    <p>
        Open source projects I created (except django-avatar) and maintain.
    </p>

    <p>
        <!-- From https://buttons.github.io/ -->
        <a class="github-button" href="https://github.com/grantmcconnaughey" data-size="large" aria-label="Follow @grantmcconnaughey on GitHub">Follow @grantmcconnaughey</a>
    </p>

    <ul>
        <li><a href="http://github.com/grantmcconnaughey/django-avatar">django-avatar</a> — A Django app for handling user avatars.</li>
        <li><a href="https://github.com/grantmcconnaughey/django-field-history">django-field-history</a> — A Django app to track changes to a model field.</li>
        <li><a href="https://github.com/grantmcconnaughey/Lintly">Lintly</a> — A Continuous Integration CLI that slurps up linter output and sends it to a GitHub PR review.</li>
        <li><a href="https://www.flake8rules.com">flake8rules.com</a> — Descriptions and examples for the rules in Flake8 (pyflakes, pycodestyle, and mccabe).</li>
        <li><a href="https://github.com/grantmcconnaughey/cookiecutter-django-vue-graphql-aws">cookiecutter-django-vue-graphql-aws</a> — A highly opinionated Cookiecutter template that fuses together Django, Vue.js, GraphQL, and AWS into one full-stack web application.</li>
        <li><a href="https://github.com/grantmcconnaughey/django-lazy-tags">django-lazy-tags</a> — A Django app for easily loading template tags via AJAX.</li>
        <li><a href="https://github.com/grantmcconnaughey/ci.py">ci.py</a> – A Python library for working with CI services.</li>
        <li><a href="https://github.com/grantmcconnaughey/lintly-flake8-github-action">Lintly-Flake8 GitHub Action</a> – A GitHub Action for creating automatic PR reviews using Flake8.</li>
    </ul>

</div>

<h2 id="other-projects" style="margin-bottom: 0;">Apps</h2>

<div style="margin-top: 0;">

    {% for project in site.data.projects %}
        <div class="project cf">
            <h3 id="{{ project.header | slugify }}"><a href="{{ project.headerlink }}">{{ project.header }}</a></h3>

            <div class="cf">
                <div class="project-image-container">
                    <a href="{{ project.mainimage }}" class="image-link" title="{{ project.mainimagealt }}">
                        <img src="{{ project.mainimagesmall }}" alt="{{ project.mainimagealt }}" />
                    </a>
                </div>

                <div class="project-description">
                    <p>{{ project.description }}</p>

                    {% if project.github %}
                    <p>
                        <ul class="project-links">
                            <li>
                                <a href="{{ project.github }}">
                                    <span class="icon"><i class="fa fa-github"></i></span>Github
                                </a>
                            </li>
                        </ul>
                    </p>
                    {% endif %}
                </div>
            </div>

            <div class="project-additional-images">
                {% for image in project.additionalimages %}
                    <a href="{{ image.full }}" class="image-link" title="{{ image.alt }}">
                        <img data-original="{{ image.thumbnail }}" alt="{{ image.alt }}" class="lazy" />
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

</div>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
