---
layout: page
title: Books
---

<div>

    <p>
      Below is a list of every book I've read since I became a programmer in January 2013.
    </p>

    <blockquote>"Never trust anyone who has not brought a book with them." - Lemony Snicket</blockquote>

    <h2 id="2017">2017</h2>
    <ul class="book-list">
        {% for book in site.data.books2017 %}
            <li>
                <span class="book-title">{{ book.title }}</span><span class="book-author"> by {{ book.author }}</span>
            </li>
        {% endfor %}
    </ul>

    <h2 id="2016">2016</h2>
    <ul class="book-list">
        {% for book in site.data.books2016 %}
            <li>
                <span class="book-title">{{ book.title }}</span><span class="book-author"> by {{ book.author }}</span>
            </li>
        {% endfor %}
    </ul>

    <h2 id="2015">2015</h2>
    <ul class="book-list">
        {% for book in site.data.books2015 %}
            <li>
                <span class="book-title">{{ book.title }}</span><span class="book-author"> by {{ book.author }}</span>
            </li>
        {% endfor %}
    </ul>

    <h2 id="2014">2014</h2>
    <ul class="book-list">
        {% for book in site.data.books2014 %}
            <li>
                <span class="book-title">{{ book.title }}</span><span class="book-author"> by {{ book.author }}</span>
            </li>
        {% endfor %}
    </ul>

    <h2 id="2013">2013</h2>
    <ul class="book-list">
        {% for book in site.data.books2013 %}
            <li>
                <span class="book-title">{{ book.title }}</span><span class="book-author"> by {{ book.author }}</span>
            </li>
        {% endfor %}
    </ul>

</div>
