---
layout: page
title: Books
---

<div>

    <blockquote>"Never trust anyone who has not brought a book with them." - Lemony Snicket</blockquote>

    <h2>Influential Books</h2>

    <p>
        I've read a lot of books, but these eight have had the most influence over shaping my personality, my views, and how I work.
    </p>

    <div class="influential-books-list">
        {% for book in site.data.influential_books %}
            <a href="{{ book.amazon_url }}" target="_blank" class="book-link">
                <img src="/images/influential_books/{{ book.image_url }}" />
            </a>
        {% endfor %}
    </div>

    <h2>Books I've Read</h2>

    <p>
        Below is a list of every book I've read since I became a programmer in January 2013. I also keep track of this list <a href="https://www.goodreads.com/user/show/38578828-grant-mcconnaughey">on Goodreads</a>.
    </p>

    {% for year in (2013..2021) reversed %}
        {% include book_list.html year=year %}
    {% endfor %}

</div>
