---
layout: page
title: Books
---

<div>

    <p>
      Below is a list of every book I've read since I became a programmer in January 2013.
    </p>

    <blockquote>"Never trust anyone who has not brought a book with them." - Lemony Snicket</blockquote>

    {% include book_list.html year="2018" %}

    {% include book_list.html year="2017" %}

    {% include book_list.html year="2016" %}

    {% include book_list.html year="2015" %}

    {% include book_list.html year="2014" %}

    {% include book_list.html year="2013" %}

</div>
