<footer class="site-footer">
    <div class="wrap">
        <div class="footer-col-1 column">
            <ul class="pure-g">
                <li class="pure-u-1-2 pure-u-sm-1">
                    <a href="https://github.com/grantmcconnaughey">
                        <span class="icon github">
                            <i class="fa fa-github"></i>
                        </span>
                        Github
                    </a>
                </li>
                <li class="pure-u-1-2 pure-u-sm-1">
                    <a href="http://stackoverflow.com/users/2026351/grantmcconnaughey">
                        <span class="icon">
                            <i class="fa fa-stack-overflow"></i>
                        </span>
                        Stack Overflow
                    </a>
                </li>
                <li class="pure-u-1-2 pure-u-sm-1">
                    <a href="https://twitter.com/gmcconnaughey">
                        <span class="icon">
                            <i class="fa fa-twitter"></i>
                        </span>
                        Twitter
                    </a>
                </li>
                <li class="pure-u-1-2 pure-u-sm-1">
                    <a href="mailto:{{ site.email }}">
                        <span class="icon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        Email
                    </a>
                </li>
                <li class="pure-u-1-2 pure-u-sm-1">
                    <a href="/downloads/Resume_Grant_McConnaughey.pdf">
                        <span class="icon">
                            <i class="fa fa-file-pdf-o"></i>
                        </span>
                        Resume
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-col-2 column">
        </div>

        <div class="footer-col-3 column">
            <p>{{ site.description }}</p>

            <p><span class="copyright-symbol">&copy;</span> 2014 Grant McConnaughey</p>
        </div>
    </div>
</footer>