<footer class="site-footer">
    <div class="wrap">
        <h2 class="footer-heading">{{ site.title }}</h2>

        <div class="footer-col-1 column">
            <ul>
                <li>
                    <a href="https://github.com/grantmcconnaughey">
                        <span class="icon github">
                            <i class="fa fa-github"></i>
                        </span>
                        <span class="username">Github</span>
                    </a>
                </li>
                <li>
                    <a href="http://stackoverflow.com/users/2026351/grantmc">
                        <span class="icon">
                            <i class="fa fa-stack-overflow"></i>
                        </span>
                        <span class="username">Stack Overflow</span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/gmcconnaughey">
                        <span class="icon">
                            <i class="fa fa-twitter"></i>
                        </span>
                        <span class="username">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:{{ site.email }}">
                        <span class="icon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <span class="username">{{ site.email }}</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-col-2 column">
        </div>

        <div class="footer-col-3 column">
            <p class="text">{{ site.description }}</p>
        </div>
    </div>
</footer>
