<footer class="site-footer">
    <div class="wrap">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-sm-1-2">
                <h3>Find Me</h3>

                <ul class="pure-g">
                    <li class="pure-u-1-2 pure-u-sm-1">
                        <a href="https://www.threads.net/@grantmcconnaughey">
                            <span class="icon"><i class="fab fa-threads"></i></span>Threads
                        </a>
                    </li>
                    <li class="pure-u-1-2 pure-u-sm-1">
                        <a href="https://bsky.app/profile/grantmcconnaughey.com">
                            <span class="icon"><i class="fab fa-bluesky"></i></span>Bluesky
                        </a>
                    </li>
                    <li class="pure-u-1-2 pure-u-sm-1">
                        <a href="https://github.com/grantmcconnaughey">
                            <span class="icon"><i class="fab fa-github"></i></span>GitHub
                        </a>
                    </li>
                    <li class="pure-u-1-2 pure-u-sm-1">
                        <a href="https://www.linkedin.com/in/grant-mcconnaughey/">
                            <span class="icon"><i class="fab fa-linkedin"></i></span>LinkedIn
                        </a>
                    </li>
                </ul>
            </div>

            <div class="pure-u-1 pure-u-sm-1-2">
                <h3>About Me</h3>
                <p>{{ site.description }}</p>

                <p><i class="far fa-copyright"></i> 2013-<script>document.write(new Date().getFullYear())</script><noscript>2020</noscript> Grant McConnaughey</p>
            </div>
        </div>
    </div>
</footer>
