<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

    {% include header.html %}

    <div class="page-content">
        <div class="wrap">

            <header class="post-header">
                <h1>{{ page.title }}</h1>
            </header>

            <section class="post-content">
                {{ content }}
            </section>

        </div>
    </div>

    {% include footer.html %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.lazyload.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.2/fastclick.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.project').each(function() {
                $(this).magnificPopup({
                    delegate: '.image-link',
                    type: 'image',
                    tLoading: 'Loading image #%curr%...',
                    mainClass: 'mfp-img-mobile',
                    gallery: {
                        enabled: true,
                        navigateByImgClick: true,
                        preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                    },
                    image: {
                        tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                        titleSrc: 'title'
                    }
                });
            });

            $("img.lazy").lazyload({
                threshold : 200
            });

            FastClick.attach(document.body);
        });
    </script>
</body>
</html>