---
layout: default
---
<div class="post">

    {% assign readTimeMinutes = content | number_of_words | divided_by: 180 | round %}

    <header class="post-header">
        <h1>{{ page.title }}</h1>
        <p class="meta">
            <i class="fad fa-calendar-alt"></i> {{ page.date | date: "%B %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}
            • <i class="fad fa-clock"></i> {{ readTimeMinutes }} min read •
            {% for category in page.categories %}
                <span class="tag"><i class="fad fa-tags"></i> {{ category }}</span>
            {% endfor %}
        </p>
    </header>

    <article class="post-content">
        {% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor" %}
    </article>

    <hr style="margin-top: 3em; margin-bottom: 3em;" />

    <div>
        <form style="text-align:center;"
              class="pure-form"
              action="https://tinyletter.com/grantmcconnaughey"
              method="post"
              target="popupwindow"
              onsubmit="window.open('https://tinyletter.com/grantmcconnaughey', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
            <p>
                Sign up to receive e-mail updates in your inbox:
            </p>
            <input type="text" name="email" id="tlemail" placeholder="Enter your email address" style="min-width: 22rem;" />
            <input type="hidden" value="1" name="embed" />
            <input type="submit" value="Subscribe" class="pure-button pure-button-primary" />
            <p>
                <small><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></small>
            </p>
        </form>
    </div>

</div>